body {
    background-color: #d14836;
    padding: 4% 4% 4% 4%;
}

h1 {
    color: white;
    text-align: center;
}

#mainBody {
    padding: 4% 4% 4% 4%;
    background-color: white;
}

label {
    background-color: white;
    font-family: verdana;
    font-size: 20px;
}

p {
    background-color: white;
    font-family: verdana;
    font-size: 20px;
}

footer {
    background-color: white;
    text-align: center;
}